{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    User Profile
{% endblock %}
{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center"><img src="{{ user.profile.image.url }}" alt="default.jpg" class="rounded-circle" width="200" height="200">
                <div class="mt-3"><h4>{{ user.username }}</h4>
                    <p class="text-secondary mb-1">{{ user.profile.profession }}</p>
                    <p class="text-muted">"{{ user.profile.bio }}"</p>
                    <p class="text-muted">Full Name : {{ user.first_name }} {{ user.last_name }}</p>
                    <p class="text-muted">E-mail : {{ user.email }}</p>
                    <p class="text-muted">About Me : "{{ user.profile.about_me }}"</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a type="button" class="btn btn-outline-info me-2" href="{% url 'blog-post-create' %}">Create New Post</a>
            <a type="button" class="btn btn-outline-info me-2" href="{% url 'user-posts' user.username %}">My Posts</a>
            <a type="button" class="btn btn-outline-info me-2" href="{% url 'update_profile' %}">Update Profile</a>
        </div>
    </div>
{% endblock %}
